<!-- <div class="container">
    <h1>Real Estate Ad Uploader</h1>
  
    <form [formGroup]="adForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="website">Select Website</label>
        <select formControlName="website" (change)="loadFormFields()" class="form-control">
          <option *ngFor="let site of websites" [value]="site">{{ site }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="adType">Ad Type</label>
        <select formControlName="adType" (change)="loadFormFields()" class="form-control">
          <option value="sale">For Sale</option>
          <option value="rent">For Rent</option>
        </select>
      </div>
  
      <div formGroupName="dynamicFields">
        <div *ngFor="let field of formFields" class="form-group">
          <label>{{ field.name }}</label>
          <input *ngIf="field.type === 'text'" type="text" class="form-control" [formControlName]="field.name">
          <input *ngIf="field.type === 'number'" type="number" class="form-control" [formControlName]="field.name">
          <textarea *ngIf="field.type === 'textarea'" class="form-control" [formControlName]="field.name"></textarea>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary">Submit Ad</button>
    </form>
  </div>
   -->

<div _ngcontent-oom-portal-c41200947="" class="ui-block d-flex flex-column ui-flex-gap-block ng-star-inserted">
  <!----><!----><oom-portal-accordion _ngcontent-oom-portal-c41200947="" _nghost-oom-portal-c4163067289=""
    class="ng-tns-c4163067289-1 ng-star-inserted" data-cy="advert-create-accordion-step-1">
    <div _ngcontent-oom-portal-c4163067289="" class="accordion ng-tns-c4163067289-1 accordion-open">
      <div _ngcontent-oom-portal-c4163067289="" class="accordion-title ng-tns-c4163067289-1"><button
          _ngcontent-oom-portal-c4163067289="" class="accordion-title-button ng-tns-c4163067289-1" id="undefined">
          <div _ngcontent-oom-portal-c4163067289="" class="accordion-title-content ng-tns-c4163067289-1">
            <div _ngcontent-oom-portal-c41200947="" title="" class="ng-tns-c4163067289-1">
              <div _ngcontent-oom-portal-c41200947="" title="" class="d-flex align-items-center ng-star-inserted">
                <div _ngcontent-oom-portal-c41200947="" class="icon-wrapper"><span _ngcontent-oom-portal-c41200947=""
                    class="fs-16 fw-bold fc-black-1 ng-star-inserted"> 1 </span><!----><!----></div>
                <div _ngcontent-oom-portal-c41200947=""
                  class="accordion-title-text ml-16 fs-16 fc-black-2 fw-bold text-truncate"> Kapcsolatfelvételi adataim
                </div><!---->
              </div><!---->
            </div>
          </div>
          <div _ngcontent-oom-portal-c4163067289="" class="d-flex align-items-center ng-tns-c4163067289-1"><!---->
            <div _ngcontent-oom-portal-c4163067289="" class="ng-tns-c4163067289-1"></div>
          </div><ib-ui-icon _ngcontent-oom-portal-c4163067289=""
            class="accordion-title-icon-arrow ng-tns-c4163067289-1 ng-star-inserted"
            _nghost-oom-portal-c2172673187=""><svg _ngcontent-oom-portal-c2172673187="" aria-hidden="true"
              focusable="false" data-id="svg" class="icon icon--24 icon--rotate-90">
              <use _ngcontent-oom-portal-c2172673187="" data-id="use" xlink:href="#oom-icons-arrow-24" width="24"
                height="24"></use>
            </svg></ib-ui-icon><!---->
        </button></div>
      <div _ngcontent-oom-portal-c4163067289=""
        class="accordion-content-container ng-tns-c4163067289-1 ng-trigger ng-trigger-toggle ng-star-inserted">
        <div _ngcontent-oom-portal-c4163067289="" class="accordion-content ng-tns-c4163067289-1">
          <div _ngcontent-oom-portal-c41200947="" content="" class="ng-tns-c4163067289-1">
            <oom-portal-advert-create-edit-step-contact-details _ngcontent-oom-portal-c41200947=""
              _nghost-oom-portal-c28070333="" class="ng-untouched ng-pristine ng-valid ng-star-inserted">
              <div _ngcontent-oom-portal-c28070333="" class="mx-sm-16 mx-lg-48">
                <div _ngcontent-oom-portal-c28070333="" class="row">
                  <div _ngcontent-oom-portal-c28070333="" class="col-24"><oom-portal-info-message
                      _ngcontent-oom-portal-c28070333="" class="mb-24 ng-star-inserted"
                      _nghost-oom-portal-c2788572362="">
                      <div _ngcontent-oom-portal-c2788572362=""
                        class="oom-info-message align-items-center d-flex flex-gap-16"><ib-ui-icon
                          _ngcontent-oom-portal-c2788572362="" _nghost-oom-portal-c2172673187=""><svg
                            _ngcontent-oom-portal-c2172673187="" aria-hidden="true" focusable="false" data-id="svg"
                            class="icon icon--24">
                            <use _ngcontent-oom-portal-c2172673187="" data-id="use" xlink:href="#ui-kit-bulb-24"
                              width="24" height="24"></use>
                          </svg></ib-ui-icon>
                        <div _ngcontent-oom-portal-c28070333="" class="flex-grow-1 fs-16 fw-400"><span
                            _ngcontent-oom-portal-c28070333="" class="ng-star-inserted"> A nevet, e-mail címet, illetve
                            korábban megadott telefonszámot a </span><!----><!----><a _ngcontent-oom-portal-c28070333=""
                            ibuilink="" data-cy="advert-create-edit-contact-details-profile-link"
                            class="fc-black-2 link ng-star-inserted" href="/beallitasok/felhasznaloi-adatok-beallitasa">
                            Profil beállítások oldalon </a> módosíthatod. <!----><!----><!----></div>
                      </div>
                    </oom-portal-info-message><!----><!---->
                    <div _ngcontent-oom-portal-c28070333="" class="row mt-24">
                      <div _ngcontent-oom-portal-c28070333="" class="col-24 col-lg-20 offset-lg-2">
                        <form _ngcontent-oom-portal-c28070333="" novalidate="" ibuiform=""
                          class="w-100 custom-form advert-create-edit-contact-form ng-untouched ng-pristine ng-valid">
                          <ib-ui-form-errors
                            _nghost-oom-portal-c3352770542=""><!----></ib-ui-form-errors><ib-ui-form-item-group
                            _ngcontent-oom-portal-c28070333="" _nghost-oom-portal-c1796374565=""
                            class="ng-untouched ng-pristine ng-valid">
                            <div _ngcontent-oom-portal-c1796374565="" data-id="form-item-group-container"
                              class="form-item-group ng-star-inserted"><label _ngcontent-oom-portal-c1796374565=""
                                data-id="form-item-group-label" class="form-item-group__label ng-star-inserted"
                                id="select-label-0"></label><!---->
                              <div _ngcontent-oom-portal-c1796374565="" class="form-item-group__items ng-star-inserted">
                                <ib-ui-form-item _ngcontent-oom-portal-c28070333="" _nghost-oom-portal-c833547684=""
                                  class="is-disabled not-floating-label is-untouched ng-star-inserted">
                                  <div _ngcontent-oom-portal-c833547684="" class="form-item form-item__input"><label
                                      _ngcontent-oom-portal-c833547684="" data-id="label" class="form-item__label"
                                      id="form-item-1-label" for="input-1"><span
                                        _ngcontent-oom-portal-c833547684="">Titulus</span><!----></label>
                                    <div _ngcontent-oom-portal-c833547684="" class="form-item__content-wrapper"><input
                                        _ngcontent-oom-portal-c28070333="" ibuiinput="" formcontrolname="title"
                                        type="text" data-cy="advert-create-edit-contact-details-title"
                                        _nghost-oom-portal-c192973194="" disabled="" autocomplete="off" id="input-1"
                                        aria-invalid="false" aria-labelledby="form-item-1-label"
                                        class="ng-untouched ng-pristine"><!---->
                                      <div _ngcontent-oom-portal-c833547684="" data-id="form-violations"
                                        class="ng-star-inserted"><span _ngcontent-oom-portal-c833547684="" tabindex="-1"
                                          data-id="form-errors-container"
                                          class="form-item__error-container"><!----></span><span
                                          _ngcontent-oom-portal-c833547684="" tabindex="-1"
                                          class="form-item__warning-container"><ib-ui-form-warnings
                                            _ngcontent-oom-portal-c833547684="" aria-live="assertive"
                                            name="form-warnings"
                                            _nghost-oom-portal-c3118681014=""><!----></ib-ui-form-warnings></span></div>
                                      <!---->
                                    </div>
                                  </div><!---->
                                </ib-ui-form-item><ib-ui-form-item _ngcontent-oom-portal-c28070333=""
                                  _nghost-oom-portal-c833547684=""
                                  class="has-value is-disabled not-floating-label ng-star-inserted">
                                  <div _ngcontent-oom-portal-c833547684="" class="form-item form-item__input"><label
                                      _ngcontent-oom-portal-c833547684="" data-id="label" class="form-item__label"
                                      id="form-item-2-label" for="input-2"><span
                                        _ngcontent-oom-portal-c833547684="">Vezetéknév</span><!----></label>
                                    <div _ngcontent-oom-portal-c833547684="" class="form-item__content-wrapper"><input
                                        _ngcontent-oom-portal-c28070333="" ibuiinput="" formcontrolname="lastName"
                                        type="text" data-cy="advert-create-edit-contact-details-lastName"
                                        _nghost-oom-portal-c192973194="" disabled="" autocomplete="off" id="input-2"
                                        aria-invalid="false" aria-labelledby="form-item-2-label"
                                        class="ng-untouched ng-pristine"><!---->
                                      <div _ngcontent-oom-portal-c833547684="" data-id="form-violations"
                                        class="ng-star-inserted"><span _ngcontent-oom-portal-c833547684="" tabindex="-1"
                                          data-id="form-errors-container"
                                          class="form-item__error-container"><!----></span><span
                                          _ngcontent-oom-portal-c833547684="" tabindex="-1"
                                          class="form-item__warning-container"><ib-ui-form-warnings
                                            _ngcontent-oom-portal-c833547684="" aria-live="assertive"
                                            name="form-warnings"
                                            _nghost-oom-portal-c3118681014=""><!----></ib-ui-form-warnings></span></div>
                                      <!---->
                                    </div>
                                  </div><!---->
                                </ib-ui-form-item>
                                <ib-ui-form-item _ngcontent-oom-portal-c28070333=""
                                  _nghost-oom-portal-c833547684=""
                                  class="has-value is-disabled not-floating-label ng-star-inserted">
                                  <div _ngcontent-oom-portal-c833547684="" class="form-item form-item__input"><label
                                      _ngcontent-oom-portal-c833547684="" data-id="label" class="form-item__label"
                                      id="form-item-3-label" for="input-3"><span
                                        _ngcontent-oom-portal-c833547684="">Utónév</span><!----></label>
                                    <div _ngcontent-oom-portal-c833547684="" class="form-item__content-wrapper"><input
                                        _ngcontent-oom-portal-c28070333="" ibuiinput="" formcontrolname="firstName"
                                        type="text" data-cy="advert-create-edit-contact-details-firstName"
                                        _nghost-oom-portal-c192973194="" disabled="" autocomplete="off" id="input-3"
                                        aria-invalid="false" aria-labelledby="form-item-3-label"
                                        class="ng-untouched ng-pristine"><!---->
                                      <div _ngcontent-oom-portal-c833547684="" data-id="form-violations"
                                        class="ng-star-inserted"><span _ngcontent-oom-portal-c833547684="" tabindex="-1"
                                          data-id="form-errors-container"
                                          class="form-item__error-container"><!----></span><span
                                          _ngcontent-oom-portal-c833547684="" tabindex="-1"
                                          class="form-item__warning-container"><ib-ui-form-warnings
                                            _ngcontent-oom-portal-c833547684="" aria-live="assertive"
                                            name="form-warnings"
                                            _nghost-oom-portal-c3118681014=""><!----></ib-ui-form-warnings></span></div>
                                      <!---->
                                    </div>
                                  </div><!---->
                                </ib-ui-form-item><ib-ui-form-item _ngcontent-oom-portal-c28070333=""
                                  _nghost-oom-portal-c833547684="" class="is-untouched ng-star-inserted">
                                  <div _ngcontent-oom-portal-c833547684="" class="form-item form-item__input"><label
                                      _ngcontent-oom-portal-c833547684="" data-id="label" class="form-item__label"
                                      id="form-item-4-label" for=""><span
                                        _ngcontent-oom-portal-c833547684=""></span><!----></label>
                                    <div _ngcontent-oom-portal-c833547684="" class="form-item__content-wrapper">
                                      <ib-ui-checkbox _ngcontent-oom-portal-c28070333=""
                                        formcontrolname="isNameHiddenOnAdvertPage"
                                        data-cy="advert-create-edit-contact-details-isNameHiddenOnAdvertPage"
                                        class="checkbox--green ng-untouched ng-pristine ng-valid"><ib-ui-base-checkbox
                                          _nghost-oom-portal-c1985803986="">
                                          <div _ngcontent-oom-portal-c1985803986="" class="checkbox"><input
                                              _ngcontent-oom-portal-c1985803986="" data-id="native-checkbox"
                                              type="checkbox" class="checkbox__input sr-only" id="checkbox-0"
                                              name="checkbox-0" aria-labelledby="checkbox-label-0"><label
                                              _ngcontent-oom-portal-c1985803986="" data-id="checkbox-label"
                                              class="checkbox__label" id="checkbox-label-0" for="checkbox-0">
                                              <div class="checkbox__icon-wrapper"><span
                                                  class="checkbox__icon-background"></span><ib-ui-icon
                                                  name="checkbox-icon" class="checkbox__icon"
                                                  _nghost-oom-portal-c2172673187=""><svg
                                                    _ngcontent-oom-portal-c2172673187="" aria-hidden="true"
                                                    focusable="false" data-id="svg" class="icon icon--16">
                                                    <use _ngcontent-oom-portal-c2172673187="" data-id="use"
                                                      xlink:href="#ui-kit-check-16" width="16" height="16"></use>
                                                  </svg></ib-ui-icon></div><span> A nevem ne jelenjen meg a hirdetésemen
                                              </span>
                                            </label></div>
                                        </ib-ui-base-checkbox></ib-ui-checkbox><!---->
                                      <div _ngcontent-oom-portal-c833547684="" data-id="form-violations"
                                        class="ng-star-inserted"><span _ngcontent-oom-portal-c833547684="" tabindex="-1"
                                          data-id="form-errors-container"
                                          class="form-item__error-container"><!----></span><span
                                          _ngcontent-oom-portal-c833547684="" tabindex="-1"
                                          class="form-item__warning-container"><ib-ui-form-warnings
                                            _ngcontent-oom-portal-c833547684="" aria-live="assertive"
                                            name="form-warnings"
                                            _nghost-oom-portal-c3118681014=""><!----></ib-ui-form-warnings></span></div>
                                      <!---->
                                    </div>
                                  </div><!---->
                                </ib-ui-form-item><ib-ui-form-item _ngcontent-oom-portal-c28070333=""
                                  _nghost-oom-portal-c833547684=""
                                  class="has-value is-disabled not-floating-label ng-star-inserted">
                                  <div _ngcontent-oom-portal-c833547684="" class="form-item form-item__input"><label
                                      _ngcontent-oom-portal-c833547684="" data-id="label" class="form-item__label"
                                      id="form-item-5-label" for=""><span
                                        _ngcontent-oom-portal-c833547684="">Telefonszám</span><!----></label>
                                    <div _ngcontent-oom-portal-c833547684="" class="form-item__content-wrapper">
                                      <div _ngcontent-oom-portal-c28070333=""
                                        class="d-flex flex-column flex-sm-row flex-gap-16"><ib-ui-phone-area-code-select
                                          _ngcontent-oom-portal-c28070333="" formcontrolname="phoneCountryCode"
                                          data-cy="advert-create-edit-contact-details-phoneCountryCode"
                                          class="country-code-select ng-untouched ng-pristine"
                                          _nghost-oom-portal-c282212742=""><ib-ui-base-select
                                            _ngcontent-oom-portal-c282212742="" data-id="base-select"
                                            _nghost-oom-portal-c82043842="">
                                            <div _ngcontent-oom-portal-c82043842="" data-id="select"
                                              class="select is-disabled"><label _ngcontent-oom-portal-c82043842=""
                                                data-id="select-label" class="select__label" id="select-label-0">
                                                Telefonszám </label>
                                              <div _ngcontent-oom-portal-c82043842=""
                                                class="select-dropdown-selector ng-star-inserted"><button
                                                  _ngcontent-oom-portal-c82043842="" role="combobox" type="button"
                                                  aria-autocomplete="none" aria-haspopup="listbox" name="select-button"
                                                  data-id="select-button" class="select__button" disabled=""
                                                  aria-invalid="false" aria-expanded="false"
                                                  aria-labelledby="select-label-0" aria-controls="select-dropdown-0"
                                                  aria-required="false" aria-disabled="true"><span
                                                    _ngcontent-oom-portal-c282212742=""
                                                    class="phone-area-code-select__button-inner ng-star-inserted"
                                                    id="selected-0"><!----><span _ngcontent-oom-portal-c282212742=""
                                                      data-id="phone-area-code"
                                                      class="phone-area-code-select__button-text">+36</span><!----></span><span
                                                    _ngcontent-oom-portal-c282212742=""
                                                    class="select__arrow ng-star-inserted"><ib-ui-icon
                                                      _ngcontent-oom-portal-c282212742="" icon="arrow-down-24"
                                                      _nghost-oom-portal-c2172673187=""><svg
                                                        _ngcontent-oom-portal-c2172673187="" aria-hidden="true"
                                                        focusable="false" data-id="svg" class="icon icon--24">
                                                        <use _ngcontent-oom-portal-c2172673187="" data-id="use"
                                                          xlink:href="#ui-kit-arrow-down-24" width="24" height="24">
                                                        </use>
                                                      </svg></ib-ui-icon></span><!----><!----></button><!----></div>
                                              <!----><!---->
                                            </div><!----><!---->
                                          </ib-ui-base-select></ib-ui-phone-area-code-select><ib-ui-form-item
                                          _ngcontent-oom-portal-c28070333=""
                                          customclienterrormessageprefix="PORTAL.ADVERT_CREATE_EDIT.CONTACT_DETAILS.PHONE_NUMBER_CUSTOM_ERRORS"
                                          class="flex-grow-1 no-label has-value is-disabled"
                                          _nghost-oom-portal-c833547684="">
                                          <div _ngcontent-oom-portal-c833547684="" class="form-item form-item__input">
                                            <label _ngcontent-oom-portal-c833547684="" data-id="label"
                                              class="form-item__label" id="form-item-6-label" for="input-4"><span
                                                _ngcontent-oom-portal-c833547684=""></span><!----></label>
                                            <div _ngcontent-oom-portal-c833547684="" class="form-item__content-wrapper">
                                              <input _ngcontent-oom-portal-c28070333="" ibuiinput="" type="tel"
                                                formcontrolname="phoneNumber" autocomplete="off"
                                                data-cy="advert-create-edit-contact-details-phoneNumber"
                                                _nghost-oom-portal-c192973194="" id="input-4" aria-invalid="false"
                                                aria-labelledby="form-item-6-label" disabled=""
                                                class="ng-untouched ng-pristine"><!---->
                                              <div _ngcontent-oom-portal-c833547684="" data-id="form-violations"
                                                class="ng-star-inserted"><span _ngcontent-oom-portal-c833547684=""
                                                  tabindex="-1" data-id="form-errors-container"
                                                  class="form-item__error-container"><!----></span><span
                                                  _ngcontent-oom-portal-c833547684="" tabindex="-1"
                                                  class="form-item__warning-container"><ib-ui-form-warnings
                                                    _ngcontent-oom-portal-c833547684="" aria-live="assertive"
                                                    name="form-warnings"
                                                    _nghost-oom-portal-c3118681014=""><!----></ib-ui-form-warnings></span>
                                              </div><!---->
                                            </div>
                                          </div><!---->
                                        </ib-ui-form-item></div><!---->
                                      <div _ngcontent-oom-portal-c833547684="" data-id="form-violations"
                                        class="ng-star-inserted"><span _ngcontent-oom-portal-c833547684="" tabindex="-1"
                                          data-id="form-errors-container"
                                          class="form-item__error-container"><!----></span><span
                                          _ngcontent-oom-portal-c833547684="" tabindex="-1"
                                          class="form-item__warning-container"><ib-ui-form-warnings
                                            _ngcontent-oom-portal-c833547684="" aria-live="assertive"
                                            name="form-warnings"
                                            _nghost-oom-portal-c3118681014=""><!----></ib-ui-form-warnings></span></div>
                                      <!---->
                                    </div>
                                  </div><!---->
                                </ib-ui-form-item><!----><!----><!----><!----><!----><!----></div><!---->
                            </div><!----><!----><!----><!---->
                          </ib-ui-form-item-group></form>
                      </div>
                    </div>
                  </div>
                  <div _ngcontent-oom-portal-c28070333="" class="col-24 mt-32 d-flex"><button
                      _ngcontent-oom-portal-c28070333="" type="button" ibuiprimary=""
                      class="btn-maxw-none btn-align-none w-auto ml-auto mr-0 btn ng-star-inserted"
                      data-cy="advert-create-edit-contact-details-next-btn"><!----> Tovább </button><!----><!----></div>
                </div>
              </div>
            </oom-portal-advert-create-edit-step-contact-details><!----><!----><!----><!----><!----><!----><!----><!----><!---->
          </div>
        </div>
      </div><!---->
    </div>
  </oom-portal-accordion><oom-portal-accordion _ngcontent-oom-portal-c41200947="" _nghost-oom-portal-c4163067289=""
    class="ng-tns-c4163067289-2 ng-star-inserted" data-cy="advert-create-accordion-step-2">
    <div _ngcontent-oom-portal-c4163067289="" class="accordion ng-tns-c4163067289-2 accordion-disabled">
      <div _ngcontent-oom-portal-c4163067289="" class="accordion-title ng-tns-c4163067289-2"><button
          _ngcontent-oom-portal-c4163067289="" class="accordion-title-button ng-tns-c4163067289-2" id="undefined">
          <div _ngcontent-oom-portal-c4163067289="" class="accordion-title-content ng-tns-c4163067289-2">
            <div _ngcontent-oom-portal-c41200947="" title="" class="ng-tns-c4163067289-2">
              <div _ngcontent-oom-portal-c41200947="" title="" class="d-flex align-items-center ng-star-inserted">
                <div _ngcontent-oom-portal-c41200947="" class="icon-wrapper disabled"><span
                    _ngcontent-oom-portal-c41200947=""
                    class="fs-16 fw-bold fc-black-1 fc-green-disabled ng-star-inserted"> 2 </span><!----><!----></div>
                <div _ngcontent-oom-portal-c41200947=""
                  class="accordion-title-text ml-16 fs-16 fc-black-2 fw-bold text-truncate fc-green-disabled"> Típus
                </div><!---->
              </div><!---->
            </div>
          </div>
          <div _ngcontent-oom-portal-c4163067289="" class="d-flex align-items-center ng-tns-c4163067289-2"><!---->
            <div _ngcontent-oom-portal-c4163067289="" class="ng-tns-c4163067289-2"></div>
          </div><ib-ui-icon _ngcontent-oom-portal-c4163067289=""
            class="accordion-title-icon-arrow ng-tns-c4163067289-2 ng-star-inserted"
            _nghost-oom-portal-c2172673187=""><svg _ngcontent-oom-portal-c2172673187="" aria-hidden="true"
              focusable="false" data-id="svg" class="icon icon--24 icon--rotate-90">
              <use _ngcontent-oom-portal-c2172673187="" data-id="use" xlink:href="#oom-icons-arrow-24" width="24"
                height="24"></use>
            </svg></ib-ui-icon><!---->
        </button></div><!---->
    </div>
  </oom-portal-accordion><oom-portal-accordion _ngcontent-oom-portal-c41200947="" _nghost-oom-portal-c4163067289=""
    class="ng-tns-c4163067289-3 ng-star-inserted" data-cy="advert-create-accordion-step-3">
    <div _ngcontent-oom-portal-c4163067289="" class="accordion ng-tns-c4163067289-3 accordion-disabled">
      <div _ngcontent-oom-portal-c4163067289="" class="accordion-title ng-tns-c4163067289-3"><button
          _ngcontent-oom-portal-c4163067289="" class="accordion-title-button ng-tns-c4163067289-3" id="undefined">
          <div _ngcontent-oom-portal-c4163067289="" class="accordion-title-content ng-tns-c4163067289-3">
            <div _ngcontent-oom-portal-c41200947="" title="" class="ng-tns-c4163067289-3">
              <div _ngcontent-oom-portal-c41200947="" title="" class="d-flex align-items-center ng-star-inserted">
                <div _ngcontent-oom-portal-c41200947="" class="icon-wrapper disabled"><span
                    _ngcontent-oom-portal-c41200947=""
                    class="fs-16 fw-bold fc-black-1 fc-green-disabled ng-star-inserted"> 3 </span><!----><!----></div>
                <div _ngcontent-oom-portal-c41200947=""
                  class="accordion-title-text ml-16 fs-16 fc-black-2 fw-bold text-truncate fc-green-disabled"> Cím
                </div><!---->
              </div><!---->
            </div>
          </div>
          <div _ngcontent-oom-portal-c4163067289="" class="d-flex align-items-center ng-tns-c4163067289-3"><!---->
            <div _ngcontent-oom-portal-c4163067289="" class="ng-tns-c4163067289-3"></div>
          </div><ib-ui-icon _ngcontent-oom-portal-c4163067289=""
            class="accordion-title-icon-arrow ng-tns-c4163067289-3 ng-star-inserted"
            _nghost-oom-portal-c2172673187=""><svg _ngcontent-oom-portal-c2172673187="" aria-hidden="true"
              focusable="false" data-id="svg" class="icon icon--24 icon--rotate-90">
              <use _ngcontent-oom-portal-c2172673187="" data-id="use" xlink:href="#oom-icons-arrow-24" width="24"
                height="24"></use>
            </svg></ib-ui-icon><!---->
        </button></div><!---->
    </div>
  </oom-portal-accordion><oom-portal-accordion _ngcontent-oom-portal-c41200947="" _nghost-oom-portal-c4163067289=""
    class="ng-tns-c4163067289-4 ng-star-inserted" data-cy="advert-create-accordion-step-4">
    <div _ngcontent-oom-portal-c4163067289="" class="accordion ng-tns-c4163067289-4 accordion-disabled">
      <div _ngcontent-oom-portal-c4163067289="" class="accordion-title ng-tns-c4163067289-4"><button
          _ngcontent-oom-portal-c4163067289="" class="accordion-title-button ng-tns-c4163067289-4" id="undefined">
          <div _ngcontent-oom-portal-c4163067289="" class="accordion-title-content ng-tns-c4163067289-4">
            <div _ngcontent-oom-portal-c41200947="" title="" class="ng-tns-c4163067289-4">
              <div _ngcontent-oom-portal-c41200947="" title="" class="d-flex align-items-center ng-star-inserted">
                <div _ngcontent-oom-portal-c41200947="" class="icon-wrapper disabled"><span
                    _ngcontent-oom-portal-c41200947=""
                    class="fs-16 fw-bold fc-black-1 fc-green-disabled ng-star-inserted"> 4 </span><!----><!----></div>
                <div _ngcontent-oom-portal-c41200947=""
                  class="accordion-title-text ml-16 fs-16 fc-black-2 fw-bold text-truncate fc-green-disabled"> Főbb
                  paraméterek </div><!---->
              </div><!---->
            </div>
          </div>
          <div _ngcontent-oom-portal-c4163067289="" class="d-flex align-items-center ng-tns-c4163067289-4"><!---->
            <div _ngcontent-oom-portal-c4163067289="" class="ng-tns-c4163067289-4"></div>
          </div><ib-ui-icon _ngcontent-oom-portal-c4163067289=""
            class="accordion-title-icon-arrow ng-tns-c4163067289-4 ng-star-inserted"
            _nghost-oom-portal-c2172673187=""><svg _ngcontent-oom-portal-c2172673187="" aria-hidden="true"
              focusable="false" data-id="svg" class="icon icon--24 icon--rotate-90">
              <use _ngcontent-oom-portal-c2172673187="" data-id="use" xlink:href="#oom-icons-arrow-24" width="24"
                height="24"></use>
            </svg></ib-ui-icon><!---->
        </button></div><!---->
    </div>
  </oom-portal-accordion><oom-portal-accordion _ngcontent-oom-portal-c41200947="" _nghost-oom-portal-c4163067289=""
    class="ng-tns-c4163067289-5 ng-star-inserted" data-cy="advert-create-accordion-step-5">
    <div _ngcontent-oom-portal-c4163067289="" class="accordion ng-tns-c4163067289-5 accordion-disabled">
      <div _ngcontent-oom-portal-c4163067289="" class="accordion-title ng-tns-c4163067289-5"><button
          _ngcontent-oom-portal-c4163067289="" class="accordion-title-button ng-tns-c4163067289-5" id="undefined">
          <div _ngcontent-oom-portal-c4163067289="" class="accordion-title-content ng-tns-c4163067289-5">
            <div _ngcontent-oom-portal-c41200947="" title="" class="ng-tns-c4163067289-5">
              <div _ngcontent-oom-portal-c41200947="" title="" class="d-flex align-items-center ng-star-inserted">
                <div _ngcontent-oom-portal-c41200947="" class="icon-wrapper disabled"><span
                    _ngcontent-oom-portal-c41200947=""
                    class="fs-16 fw-bold fc-black-1 fc-green-disabled ng-star-inserted"> 5 </span><!----><!----></div>
                <div _ngcontent-oom-portal-c41200947=""
                  class="accordion-title-text ml-16 fs-16 fc-black-2 fw-bold text-truncate fc-green-disabled">
                  Tulajdonságok </div><!---->
              </div><!---->
            </div>
          </div>
          <div _ngcontent-oom-portal-c4163067289="" class="d-flex align-items-center ng-tns-c4163067289-5"><!---->
            <div _ngcontent-oom-portal-c4163067289="" class="ng-tns-c4163067289-5"></div>
          </div><ib-ui-icon _ngcontent-oom-portal-c4163067289=""
            class="accordion-title-icon-arrow ng-tns-c4163067289-5 ng-star-inserted"
            _nghost-oom-portal-c2172673187=""><svg _ngcontent-oom-portal-c2172673187="" aria-hidden="true"
              focusable="false" data-id="svg" class="icon icon--24 icon--rotate-90">
              <use _ngcontent-oom-portal-c2172673187="" data-id="use" xlink:href="#oom-icons-arrow-24" width="24"
                height="24"></use>
            </svg></ib-ui-icon><!---->
        </button></div><!---->
    </div>
  </oom-portal-accordion><oom-portal-accordion _ngcontent-oom-portal-c41200947="" _nghost-oom-portal-c4163067289=""
    class="ng-tns-c4163067289-6 ng-star-inserted" data-cy="advert-create-accordion-step-6">
    <div _ngcontent-oom-portal-c4163067289="" class="accordion ng-tns-c4163067289-6 accordion-disabled">
      <div _ngcontent-oom-portal-c4163067289="" class="accordion-title ng-tns-c4163067289-6"><button
          _ngcontent-oom-portal-c4163067289="" class="accordion-title-button ng-tns-c4163067289-6" id="undefined">
          <div _ngcontent-oom-portal-c4163067289="" class="accordion-title-content ng-tns-c4163067289-6">
            <div _ngcontent-oom-portal-c41200947="" title="" class="ng-tns-c4163067289-6">
              <div _ngcontent-oom-portal-c41200947="" title="" class="d-flex align-items-center ng-star-inserted">
                <div _ngcontent-oom-portal-c41200947="" class="icon-wrapper disabled"><span
                    _ngcontent-oom-portal-c41200947=""
                    class="fs-16 fw-bold fc-black-1 fc-green-disabled ng-star-inserted"> 6 </span><!----><!----></div>
                <div _ngcontent-oom-portal-c41200947=""
                  class="accordion-title-text ml-16 fs-16 fc-black-2 fw-bold text-truncate fc-green-disabled"> Leírás
                </div><!---->
              </div><!---->
            </div>
          </div>
          <div _ngcontent-oom-portal-c4163067289="" class="d-flex align-items-center ng-tns-c4163067289-6"><!---->
            <div _ngcontent-oom-portal-c4163067289="" class="ng-tns-c4163067289-6"></div>
          </div><ib-ui-icon _ngcontent-oom-portal-c4163067289=""
            class="accordion-title-icon-arrow ng-tns-c4163067289-6 ng-star-inserted"
            _nghost-oom-portal-c2172673187=""><svg _ngcontent-oom-portal-c2172673187="" aria-hidden="true"
              focusable="false" data-id="svg" class="icon icon--24 icon--rotate-90">
              <use _ngcontent-oom-portal-c2172673187="" data-id="use" xlink:href="#oom-icons-arrow-24" width="24"
                height="24"></use>
            </svg></ib-ui-icon><!---->
        </button></div><!---->
    </div>
  </oom-portal-accordion><oom-portal-accordion _ngcontent-oom-portal-c41200947="" _nghost-oom-portal-c4163067289=""
    class="ng-tns-c4163067289-7 ng-star-inserted" data-cy="advert-create-accordion-step-7">
    <div _ngcontent-oom-portal-c4163067289="" class="accordion ng-tns-c4163067289-7 accordion-disabled">
      <div _ngcontent-oom-portal-c4163067289="" class="accordion-title ng-tns-c4163067289-7"><button
          _ngcontent-oom-portal-c4163067289="" class="accordion-title-button ng-tns-c4163067289-7" id="undefined">
          <div _ngcontent-oom-portal-c4163067289="" class="accordion-title-content ng-tns-c4163067289-7">
            <div _ngcontent-oom-portal-c41200947="" title="" class="ng-tns-c4163067289-7">
              <div _ngcontent-oom-portal-c41200947="" title="" class="d-flex align-items-center ng-star-inserted">
                <div _ngcontent-oom-portal-c41200947="" class="icon-wrapper disabled"><span
                    _ngcontent-oom-portal-c41200947=""
                    class="fs-16 fw-bold fc-black-1 fc-green-disabled ng-star-inserted"> 7 </span><!----><!----></div>
                <div _ngcontent-oom-portal-c41200947=""
                  class="accordion-title-text ml-16 fs-16 fc-black-2 fw-bold text-truncate fc-green-disabled"> Ár </div>
                <!---->
              </div><!---->
            </div>
          </div>
          <div _ngcontent-oom-portal-c4163067289="" class="d-flex align-items-center ng-tns-c4163067289-7"><!---->
            <div _ngcontent-oom-portal-c4163067289="" class="ng-tns-c4163067289-7"></div>
          </div><ib-ui-icon _ngcontent-oom-portal-c4163067289=""
            class="accordion-title-icon-arrow ng-tns-c4163067289-7 ng-star-inserted"
            _nghost-oom-portal-c2172673187=""><svg _ngcontent-oom-portal-c2172673187="" aria-hidden="true"
              focusable="false" data-id="svg" class="icon icon--24 icon--rotate-90">
              <use _ngcontent-oom-portal-c2172673187="" data-id="use" xlink:href="#oom-icons-arrow-24" width="24"
                height="24"></use>
            </svg></ib-ui-icon><!---->
        </button></div><!---->
    </div>
  </oom-portal-accordion><oom-portal-accordion _ngcontent-oom-portal-c41200947="" _nghost-oom-portal-c4163067289=""
    class="ng-tns-c4163067289-8 ng-star-inserted" data-cy="advert-create-accordion-step-8">
    <div _ngcontent-oom-portal-c4163067289="" class="accordion ng-tns-c4163067289-8 accordion-disabled">
      <div _ngcontent-oom-portal-c4163067289="" class="accordion-title ng-tns-c4163067289-8"><button
          _ngcontent-oom-portal-c4163067289="" class="accordion-title-button ng-tns-c4163067289-8" id="undefined">
          <div _ngcontent-oom-portal-c4163067289="" class="accordion-title-content ng-tns-c4163067289-8">
            <div _ngcontent-oom-portal-c41200947="" title="" class="ng-tns-c4163067289-8">
              <div _ngcontent-oom-portal-c41200947="" title="" class="d-flex align-items-center ng-star-inserted">
                <div _ngcontent-oom-portal-c41200947="" class="icon-wrapper disabled"><span
                    _ngcontent-oom-portal-c41200947=""
                    class="fs-16 fw-bold fc-black-1 fc-green-disabled ng-star-inserted"> 8 </span><!----><!----></div>
                <div _ngcontent-oom-portal-c41200947=""
                  class="accordion-title-text ml-16 fs-16 fc-black-2 fw-bold text-truncate fc-green-disabled"> Képek
                </div><!---->
              </div><!---->
            </div>
          </div>
          <div _ngcontent-oom-portal-c4163067289="" class="d-flex align-items-center ng-tns-c4163067289-8"><!---->
            <div _ngcontent-oom-portal-c4163067289="" class="ng-tns-c4163067289-8"></div>
          </div><ib-ui-icon _ngcontent-oom-portal-c4163067289=""
            class="accordion-title-icon-arrow ng-tns-c4163067289-8 ng-star-inserted"
            _nghost-oom-portal-c2172673187=""><svg _ngcontent-oom-portal-c2172673187="" aria-hidden="true"
              focusable="false" data-id="svg" class="icon icon--24 icon--rotate-90">
              <use _ngcontent-oom-portal-c2172673187="" data-id="use" xlink:href="#oom-icons-arrow-24" width="24"
                height="24"></use>
            </svg></ib-ui-icon><!---->
        </button></div><!---->
    </div>
  </oom-portal-accordion><oom-portal-accordion _ngcontent-oom-portal-c41200947="" _nghost-oom-portal-c4163067289=""
    class="ng-tns-c4163067289-9 ng-star-inserted" data-cy="advert-create-accordion-step-9">
    <div _ngcontent-oom-portal-c4163067289="" class="accordion ng-tns-c4163067289-9 accordion-disabled">
      <div _ngcontent-oom-portal-c4163067289="" class="accordion-title ng-tns-c4163067289-9"><button
          _ngcontent-oom-portal-c4163067289="" class="accordion-title-button ng-tns-c4163067289-9" id="undefined">
          <div _ngcontent-oom-portal-c4163067289="" class="accordion-title-content ng-tns-c4163067289-9">
            <div _ngcontent-oom-portal-c41200947="" title="" class="ng-tns-c4163067289-9">
              <div _ngcontent-oom-portal-c41200947="" title="" class="d-flex align-items-center ng-star-inserted">
                <div _ngcontent-oom-portal-c41200947="" class="icon-wrapper disabled"><span
                    _ngcontent-oom-portal-c41200947=""
                    class="fs-16 fw-bold fc-black-1 fc-green-disabled ng-star-inserted"> 9 </span><!----><!----></div>
                <div _ngcontent-oom-portal-c41200947=""
                  class="accordion-title-text ml-16 fs-16 fc-black-2 fw-bold text-truncate fc-green-disabled"> Kiemelési
                  csomag választás </div><!---->
              </div><!---->
            </div>
          </div>
          <div _ngcontent-oom-portal-c4163067289="" class="d-flex align-items-center ng-tns-c4163067289-9"><!---->
            <div _ngcontent-oom-portal-c4163067289="" class="ng-tns-c4163067289-9"></div>
          </div><ib-ui-icon _ngcontent-oom-portal-c4163067289=""
            class="accordion-title-icon-arrow ng-tns-c4163067289-9 ng-star-inserted"
            _nghost-oom-portal-c2172673187=""><svg _ngcontent-oom-portal-c2172673187="" aria-hidden="true"
              focusable="false" data-id="svg" class="icon icon--24 icon--rotate-90">
              <use _ngcontent-oom-portal-c2172673187="" data-id="use" xlink:href="#oom-icons-arrow-24" width="24"
                height="24"></use>
            </svg></ib-ui-icon><!---->
        </button></div><!---->
    </div>
  </oom-portal-accordion><!----><!---->
  <div _ngcontent-oom-portal-c41200947=""
    class="d-flex flex-column flex-sm-row flex-sm-row-reverse justify-content-end w-100 ui-flex-gap-element"><button
      _ngcontent-oom-portal-c41200947="" type="button" ibuiprimary="" data-cy="advert-create-edit-post-advert-btn"
      class="mx-0 w-100 btn ng-star-inserted" disabled=""><!----> Ingyenes hirdetés feladása </button><!----><button
      _ngcontent-oom-portal-c41200947="" type="button" data-cy="advert-create-edit-save-advert-btn"
      class="mx-0 w-100 text-nowrap btn btn--inverse" disabled=""><!----> Mentés a hirdetés feladása nélkül </button>
  </div>
  <div _ngcontent-oom-portal-c41200947="" class="mt-16 mt-sm-24 ng-star-inserted">
    <oom-portal-online-estimator-info-block _ngcontent-oom-portal-c41200947=""
      _nghost-oom-portal-c81289996=""><oom-portal-accordion _ngcontent-oom-portal-c81289996=""
        data-cy="online-estimator-info-block" _nghost-oom-portal-c4163067289=""
        class="ng-tns-c4163067289-10 ng-star-inserted">
        <div _ngcontent-oom-portal-c4163067289="" class="accordion ng-tns-c4163067289-10">
          <div _ngcontent-oom-portal-c4163067289="" class="accordion-title ng-tns-c4163067289-10"><button
              _ngcontent-oom-portal-c4163067289="" class="accordion-title-button ng-tns-c4163067289-10" id="undefined">
              <div _ngcontent-oom-portal-c4163067289="" class="accordion-title-content ng-tns-c4163067289-10">
                <div _ngcontent-oom-portal-c81289996="" title="" data-cy="online-estimatir-info-block-title"
                  class="pl-24 py-8 d-flex flex-row fw-bold align-items-center ng-tns-c4163067289-10"><ib-ui-icon
                    _ngcontent-oom-portal-c81289996="" class="fc-green mr-16" _nghost-oom-portal-c2172673187=""><svg
                      _ngcontent-oom-portal-c2172673187="" aria-hidden="true" focusable="false" data-id="svg"
                      class="icon icon--24">
                      <use _ngcontent-oom-portal-c2172673187="" data-id="use" xlink:href="#ui-kit-info-24" width="24"
                        height="24"></use>
                    </svg></ib-ui-icon><span _ngcontent-oom-portal-c81289996="">* Hogy működik az online
                    értékbecslő?</span></div>
              </div>
              <div _ngcontent-oom-portal-c4163067289="" class="d-flex align-items-center ng-tns-c4163067289-10"><!---->
                <div _ngcontent-oom-portal-c4163067289="" class="ng-tns-c4163067289-10"></div>
              </div><ib-ui-icon _ngcontent-oom-portal-c4163067289=""
                class="accordion-title-icon-arrow ng-tns-c4163067289-10 ng-star-inserted"
                _nghost-oom-portal-c2172673187=""><svg _ngcontent-oom-portal-c2172673187="" aria-hidden="true"
                  focusable="false" data-id="svg" class="icon icon--24 icon--rotate-90">
                  <use _ngcontent-oom-portal-c2172673187="" data-id="use" xlink:href="#oom-icons-arrow-24" width="24"
                    height="24"></use>
                </svg></ib-ui-icon><!---->
            </button></div><!---->
        </div>
      </oom-portal-accordion></oom-portal-online-estimator-info-block></div><!---->
</div>